/* ini css */

body{
    font-family: Source Sans Pro, sans-serif;  
    margin:0;
    box-sizing: border-box;
}

.logo-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-icon:hover{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-repeat: no-repeat;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color:#074209;
    padding: 10px 10px;
}

nav>section{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.nav-item{
    border-radius: 5%;
    margin: 0px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    
}
.nav-item:hover {
    background-color: #049b29;
    color: #040404;
    font-size: 18px;
    font-weight: bold;
}

h2{
    margin-left:40px;
}

.home{
   text-align: justify;
   margin:0;
}

article{
    margin: 40px;
}
.banner-container{
    padding: 2px;
    height: 300px;
    background-image: url(https://picsum.photos/200);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}
hr{
border: 1px solid rgb(241, 241, 241);
}

.facilities{
   
    margin:0;
   
}

.facility-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
    display:flex;
    
}

.container-facilities{
    width: 100px;
    height: 100px;
    background-color: #074209;
    border-radius: 50%;
    background-image: url();
}

.message-us{
   margin:0;
}

.message-us-section{
    display: flex;
    flex: 1;
    justify-content:left;
    align-content: center;
}

.form-container{
    flex: 1;
    margin-right: 40px;
}

form {
    margin-left:40px;
    display:block;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    background-color: #f3eeee;
}

label {
   
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #b6b2b2;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}
button:hover {
    background-color: #45a049;
    
}

/* Pembungkus Textarea*/
.result-container{
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

/* untuk menampilkan hasil inputan form */
.form-result>textarea{
    height: 364px;
    width: 94%;
    border: 1px solid #b6b2b2;
    border-radius: 8px;
}


footer{
    background-color: #ccc;
    padding: 20px;
    text-align: center;

}

 